<div class="modal-overlay" {{action "close"}}></div>
<div class="modal-content">
  <div class="small-header">
    <button type="button" {{action "close"}} class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  </div>
  {{yield}}
</div>
