{{#modal-dialog action="close"}}
  <h3>User with such username already exist</h3>
  <h5>please choose different username</h5>
  <button class="btn btn-default pull-right" {{action "close"}}>Close</button>
{{/modal-dialog}}
